.vars-elta:
  variables:
    DBT_PROFILES_DIR: "profile"
    MELTANO_TARGET: "target-snowflake"
    DBT_TARGET: "snowflake"
    GOODDATA_PROFILES: "demo_cicd closed_beta closed_beta_se labs_se"
    # Snowflake objects are upper-case by default. We use Snowflake in most jobs.
    GOODDATA_UPPER_CASE: "--gooddata-upper-case"
    SNOWFLAKE_ACCOUNT: "gooddata"
    SNOWFLAKE_USER: "cicd"
    SNOWFLAKE_WAREHOUSE: "DEMO_WH"
    VERTICA_HOST: "140.236.88.151"
    VERTICA_PORT: "5433"
    VERTICA_USER: "gooddata"
    VERTICA_DBNAME: "PartPub80DB"
    INPUT_SCHEMA_FAA: "faa_input_stage"
    INPUT_SCHEMA_GITHUB: "github_input_stage"
    INPUT_SCHEMA_EXCHANGERATEHOST: "exchangeratehost_input_stage"
    INPUT_SCHEMA_ECOMMERCE_DEMO: "ecommerce_demo_input_stage"
    INPUT_SCHEMA_DATA_SCIENCE: "data_science_input_stage"
    OUTPUT_SCHEMA: "cicd_output_stage"
    MELTANO_STATE_AWS_BUCKET: "jacek-blueprint-data-pipeline"
    ############################################################################################################
    # Environment-specific vars. Defined here so we can reuse them in extract/load nad transform phases
    ############################################################################################################
    # DEV
    DEV_ELT_ENVIRONMENT: "cicd_dev"
    DEV_SNOWFLAKE_DBNAME: 'CICD_DEV'
    DEV_GOODDATA_ENVIRONMENT_ID: "development"
    # STAGING
    STAGING_ELT_ENVIRONMENT: "cicd_staging"
    STAGING_SNOWFLAKE_DBNAME: "CICD_STAGING"
    STAGING_GOODDATA_ENVIRONMENT_ID: "staging"
    STAGING_GOODDATA_ENVIRONMENT_ID_VERTICA: "staging_vertica"
    # PROD
    PROD_ELT_ENVIRONMENT: "cicd_prod"
    PROD_SNOWFLAKE_DBNAME: 'CICD_PROD'
    PROD_GOODDATA_ENVIRONMENT_ID: "production"
    ############################################################
    # For version running against cloud service, e.g. dbt cloud
    # DEV
    CLOUD_DEV_SNOWFLAKE_DBNAME: 'CICD_CLOUD_DEV'
    CLOUD_DEV_GOODDATA_ENVIRONMENT_ID: "cloud_development"
    CLOUD_DEV_DBT_JOB_ID: 406899
    # STAGING
    CLOUD_STAGING_SNOWFLAKE_DBNAME: "CICD_CLOUD_STAGING"
    CLOUD_STAGING_GOODDATA_ENVIRONMENT_ID: "cloud_staging"
    CLOUD_STAGING_GOODDATA_ENVIRONMENT_ID_VERTICA: "cloud_staging_vertica"
    CLOUD_STAGING_DBT_JOB_ID: 408385
    # PROD
    CLOUD_PROD_SNOWFLAKE_DBNAME: 'CICD_CLOUD_PROD'
    CLOUD_PROD_GOODDATA_ENVIRONMENT_ID: "cloud_production"
    CLOUD_PROD_DBT_JOB_ID: 408386

    # dbt cloud insist on env variables must contain DBT_ prefix. We have to duplicate them here.
    # dbt profiles.yml file in this repo relies on DBT_ prefix.
    # It means that even jobs not running against dbt cloud rely on DBT_ prefix.
    # More variables are duplicated later in this file based on what database is used.
    DBT_OUTPUT_SCHEMA: $OUTPUT_SCHEMA
    DBT_INPUT_SCHEMA_GITHUB: $INPUT_SCHEMA_GITHUB
    DBT_INPUT_SCHEMA_FAA: $INPUT_SCHEMA_FAA
    DBT_INPUT_SCHEMA_EXCHANGERATEHOST: $INPUT_SCHEMA_EXCHANGERATEHOST
    DBT_INPUT_SCHEMA_ECOMMERCE_DEMO: $INPUT_SCHEMA_ECOMMERCE_DEMO
    DBT_INPUT_SCHEMA_DATA_SCIENCE: $INPUT_SCHEMA_DATA_SCIENCE
    # Notify by sending comment to the merge request,
    # if duration of a dbt model exceeds average duration from last X runs by DBT_ALLOWED_DEGRADATION percents
    DBT_ALLOWED_DEGRADATION: 20
    DBT_INCREMENTAL_STRATEGY: "merge"
