###################
# Templates
.gooddata:
  extends:
    - .base
  # We build a custom image on top of the official dbt image in this pipeline
  # It contains dbt itself, all required dbt plugins and PoC of dbt-gooddata plugin (not yet in pypi, TODO)
  image:
    name: "$DBT_CUSTOM_IMAGE"
    entrypoint: [""]
  stage: analytics
  before_script:
    - cd $SRC_DATA_PIPELINE
    # dbt packages are installed during build of docker image to workdir
    - ln -s ${IMAGES_WORKDIR}/dbt_packages dbt_packages
    # Compile to generate manifest.json, which is parsed by dbt-gooddata module to absorb dbt metrics
    # TODO - deprecate this feature? (Note: dbt acquired Transform metric-store)
    - dbt compile --profiles-dir $DBT_PROFILE_DIR --profile $DBT_PROFILE --target $ELT_ENVIRONMENT
  script:
    - dbt-gooddata deploy_analytics $GOODDATA_UPPER_CASE
    - dbt-gooddata test_insights

.gooddata_changes:
  changes:
    - $SRC_DATA_PIPELINE/meltano.yml
    - $SRC_DATA_PIPELINE/macros/**/*
    - $SRC_DATA_PIPELINE/models/**/*
    - $SRC_DATA_PIPELINE/dbt-gooddata/**/*
    - $SRC_DATA_PIPELINE/gooddata_layouts/**/*
    - .gitlab-ci/gitlab-ci-analytics.yml

##########################3
# Jobs

# pre-merge
gooddata_dev:
  extends:
    - .gooddata
  variables:
    ELT_ENVIRONMENT: !reference [.envs, dev, ELT_ENVIRONMENT]
    SNOWFLAKE_DBNAME: !reference [.envs, dev, SNOWFLAKE_DBNAME]
    SNOWFLAKE_USER: !reference [.envs, dev, SNOWFLAKE_USER]
    SNOWFLAKE_PASS: !reference [.envs, dev, SNOWFLAKE_PASS]
    GOODDATA_ENVIRONMENT_ID: !reference [.envs, dev, GOODDATA_ENVIRONMENT_ID]
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      changes: !reference [.gooddata_changes, changes]
    - !reference [.base_rules, rules]

# post-merge
gooddata_staging:
  extends:
    - .gooddata
  variables:
    ELT_ENVIRONMENT: !reference [.envs, staging, ELT_ENVIRONMENT]
    SNOWFLAKE_DBNAME: !reference [.envs, staging, SNOWFLAKE_DBNAME]
    SNOWFLAKE_USER: !reference [.envs, staging, SNOWFLAKE_USER]
    SNOWFLAKE_PASS: !reference [.envs, staging, SNOWFLAKE_PASS]
    GOODDATA_ENVIRONMENT_ID: !reference [.envs, staging, GOODDATA_ENVIRONMENT_ID]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
      changes: !reference [.gooddata_changes, changes]
    - !reference [.base_rules, rules]

# merge to prod branch
gooddata_prod:
  extends:
    - .gooddata
  variables:
    ELT_ENVIRONMENT: !reference [.envs, prod, ELT_ENVIRONMENT]
    SNOWFLAKE_DBNAME: !reference [.envs, prod, SNOWFLAKE_DBNAME]
    SNOWFLAKE_USER: !reference [.envs, prod, SNOWFLAKE_USER]
    SNOWFLAKE_PASS: !reference [.envs, prod, SNOWFLAKE_PASS]
    GOODDATA_ENVIRONMENT_ID: !reference [.envs, prod, GOODDATA_ENVIRONMENT_ID]
  rules:
    - if: '$CI_COMMIT_BRANCH == "prod" && $CI_PIPELINE_SOURCE == "push"'
      changes: !reference [.gooddata_changes, changes]
    - !reference [.base_rules, rules]
