export DBT_PROFILES_DIR="profile"
export GOODDATA_PROFILES="stg11"
export DUCKDB_DB_FILE="local_databases/rt_dev_local.db"
export PATH_GENERATED_DATA="generated_data"
export MINIO_ENDPOINT="localhost:19000"
export MINIO_ACCESS_KEY="minio_abcde_k1234567"
export MINIO_SECRET_KEY="minio_abcde_k1234567_secret1234567890123"
export S3_BUCKET_NAME="gdc-tiger-test-data"
export DB_INPUT_SCHEMA="input_stage"
export S3_REGION="us-east-1"
export REDSHIFT_HOST="jacek-test-serverless.972873489489.us-east-1.redshift-serverless.amazonaws.com"
export REDSHIFT_DB_NAME="dev"

export REDSHIFT_USER="xxxx"
export REDSHIFT_PASSWORD="xxx"
export REDSHIFT_IAM_ROLE="arn:aws:iam::xxxxxxx"
